bin/
obj/
**/.dockerignore
**/.editorconfig
**/LICENSE
**/README.md
**/.github
**/.gitignore
**/.gitattributes
**/.git
**/Dockerfile
**/.idea
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/.vscode
**/.dotnet